@use "../../styles/mixins" as *;

.movies {
  @include mobile-left-margin;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-right: $mobile-left-margin;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &__tile {
    position: relative;
  }

  &__bookmarked {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    width: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 999;
  }

  &__bookmarked--False {
    @extend .movies__bookmarked;
    background-image: url("../../assets/icons/icon-bookmark-empty.svg");
  }

  &__bookmarked--True {
    @extend .movies__bookmarked;
    background-image: url("../../assets/icons/icon-bookmark-full.svg");
  }
}

.info-container {
  display: flex;
  flex-direction: column;

  &__movie {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &--top {
    justify-content: flex-start;
    gap: 1rem;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }

  &__img {
    width: 0.6rem;
    height: 0.6rem;
  }
}

.movies__bookmarked-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #151e21;
  right: 0.5rem;
  position: absolute;
  opacity: 0.5;
  top: 0.5rem;
}
