@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.search {
  display: flex;
  margin: 1rem 0;
  @include mobile-left-margin;
  align-items: center;

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.5rem;
  }

  &__field {
    align-items: center;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    background-color: $home-background;
    background-image: url("../../assets/icons/icon-search.svg");
    background-position: 3%;
    text-indent: 3.125rem;
    color: white;
    height: 2rem;
    border-radius: 1.5625rem;
    margin-right: $mobile-left-margin;
    @include tablet {
      height: 3rem;
      text-indent: 5rem;
      font-size: 1.125rem;
    }
    @include desktop {
      height: 4rem;
      text-indent: 6.25rem;
      font-size: 1.25rem;
    }
  }
}

.search__field::placeholder {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 1rem;
  @include tablet {
    font-size: 1.125rem;
    height: 2rem;
  }
  @include desktop {
    font-size: 1.25rem;
  }
}
