$font-stack: "Outfit", sans-serif;

@font-face {
  font-family: $font-stack;
  src: url("../assets/fonts/Outfit-Light.woff") format("woff"),
    url("../assets/fonts/Outfit-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: $font-stack;
  src: url("../assets/fonts/Outfit-Medium.woff") format("woff"),
    url("../assets/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}
