@use "./colors" as *;
@use "./fonts" as *;

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $home-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
