@use "./colors" as *;
@use "./fonts" as *;
@use "./typography" as *;
@use "./mixins" as *;

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.home__title {
  @include mobile-left-margin;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $home-background;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
