@use "../styles/fonts" as *;
@use "../styles/colors" as *;
@use "../styles/mixins" as *;

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25.2px;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 32px;
  }
}

h4 {
  font-weight: 300;
  font-size: 0.6875rem;
  @include tablet {
    font-size: 0.8125rem;
  }
  @include desktop {
    font-size: 0.9375rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 14px;
  @include tablet {
    font-size: 18px;
  }
}
