@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-background;
  padding: 1rem;
  @include desktop {
    height: 90vh;
    border-radius: 1rem;
    margin: 1rem;
    padding: 3rem 1rem;
    flex-direction: column;
  }

  &__logo {
    height: 1.25rem;
    width: 1.5625rem;
    @include tablet {
      height: 1.5625rem;
      width: 2rem;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    @include desktop {
      flex-direction: column;
      height: 40%;
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    @include tablet {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__avatar {
    width: 1.5rem;
    height: 1.5rem;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
    &-img {
      border: 1px solid white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

.active {
  filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}
