@use "../../styles/colors" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-background;
  padding: 1rem;

  &__logo {
    height: 1.25rem;
    width: 1.5625rem;
  }

  &__icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__avatar {
    width: 1.5rem;
    height: 1.5rem;
    &-img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
